body {
    margin: 0;
    padding : 0;
}
.header > h1 {
    display: inline;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 2rem;
    left: 4rem;
    margin-left: 75px;
}
.header h1:first-child {
    font-weight: 700;
}
.header h1:nth-child(4) {
    margin-left: 750px;
}
.header h1:nth-child(5) {
    background: black;
    color: white;
    font-weight: 400;
    border-radius: 30px;
    padding: 15px;
    margin-left: 20px;
}
.header {
    background: #F9C265;
    height: 117px;
}
.img1 {
    position: relative;
    left: 43rem;
    bottom: 2rem;
}
.large > h1:first-child {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    position: relative;
    left: 7.2rem;
}
.large > h1:nth-child(2) {
    font-family: Pattaya;
    font-size: 80px;
    font-weight: 400;
    background: black;
    border-radius: 50px;
    color: #F9C265;
    padding: 10px;
    width: 200px;
    text-align: center;
    position: relative;
    left: 6rem;
    bottom: 4.3rem;
}
.large > h1:nth-child(3) {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    position: relative;
    left: 20rem;
    bottom: 17.5rem;
}
.speed {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 21px;
    color: black;
    width: 450px;
    position: relative;
    left: 61rem;
    bottom: 37rem;
}
.enroll {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 21px;
    background: #F9C265;
    width: 250px;
    height: 75px;
    border-radius: 40px;
    padding: 2px;
    line-height: 150%;
    border: 1px solid black;
    text-align: center;
    position: relative;
    left: 61rem;
    bottom: 37rem;
}
.boypic > img{
    position: relative;
    left: 16rem;
    bottom: 36.5rem;
    width: 1000px;
}
.section {
    background: #F9C265;
    height: 1012px;
    position: relative;
    bottom: 4rem;
}
.m > h1{
    font-family: Montserrat;
    font-size: 63px;
    font-weight: 600;
    display: inline;
    margin-left: 250px;
    position: relative;
    top: 2.5rem;
}
.p > p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    display: inline;
}
.p > p:first-child{
    margin-left: 250px;
}
.p > p:nth-child(2){
    margin-left: 243px;
}
.p > p:nth-child(3){
    margin-left: 289px;
}
.p > p:nth-child(4){
    margin-left: 313px;
}
.we > h1{
    font-family: Montserrat;
    font-size: 63px;
    font-weight: 500;
    letter-spacing: 3%;
}
.we > h1:first-child{
    position: relative;
    top: 5rem;
    left: 67.5rem;
}
.we > h1:nth-child(2){
    position: relative;
    top: 1rem;
    left: 67rem;
    font-family: Pattaya;
    font-size: 65px;
    background: #F9C265;
    border-radius: 50px;
    height: 75px;
    width: 200px;
    text-align: center;
    border: 3px solid black;
    line-height: 125%;
}
.we > h1:nth-child(3){
    position: relative;
    left: 80rem;
    bottom: 9rem;
}
.we > h1:nth-child(4){
    position: relative;
    bottom: 15rem;
    left: 67rem;
}
.p2 {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    width: 450px;
    line-height: 150%;
    position: relative;
    left: 67.5rem;
    bottom: 17rem;
}
.sec3 {
    background: #FDF6E4;
    height: 650px;
}